body {
    background-color: crimson;
    transition: all 0.7s ease;
}


p span {
    text-decoration: solid burlywood;
}

@media (max-width: 900px) {
    /* comment */
    body {
        background-color: blueviolet;
    }
}
@import "header";
